nav {
    border: inset rgb(207, 219, 219) 3px;
    font-family: "Science Gothic", sans-serif;
    gap: 30px;
    text-align: center;
}

nav a {
    text-decoration: none;
    gap: 30px;
    margin-left: 140px;
    margin-right: 140px;
    color: white;
}

img{
    box-shadow: inset;
    border: 5px;
    box-shadow: 6px, 6px, 12px rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    
}

body{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.686)),
    url(./img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: "Ribeye Marrow", serif;
    font-size: 20px;
}

#final {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    width: auto;
}

#final a {
    display: block;
    background-color: #0073ff;
    color: white;
    padding: 12px 18px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 1.5s;
}

h1 {
    color: rgba(0, 234, 255, 0.672);
    text-align: center;
    font-size: 49.5px;
    font-family: "UnifrakturMaguntia", cursive;


}

.yo{

    background-color: rgba(49, 146, 146, 0.425);
    width: 800px;
    height: 500px;
    border-radius: 1.5rem;
    padding-top: 15px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cajita{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.yo:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgb(96, 212, 224);
    transition: 0.3s;

}
   