html {
    scroll-behavior: smooth;
}

nav {
    border: inset rgb(207, 219, 219) 3px;
    font-family: "Science Gothic", sans-serif;
    gap: 30px;
    text-align: center;
}

nav a {
    text-decoration: none;
    gap: 30px;
    margin-left: 140px;
    margin-right: 140px;
    color: white;
}

img{
    box-shadow: inset;
    border: 5px;
    box-shadow: 6px, 6px, 12px rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    
}

body{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.686)),
    url(./img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: "Ribeye Marrow", serif;
    font-size: 20px;
}

#final {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    width: auto;
}

#final a {
    display: block;
    background-color: #37b3c9b2;
    color: white;
    padding: 12px 18px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 1.5s;
}

h1 {
    color: rgba(0, 234, 255, 0.672);
    text-align: center;
    font-size: 49.5px;
    font-family: "UnifrakturMaguntia", cursive;

}

.yo{

    background-color: rgba(49, 146, 146, 0.425);
    width: 800px;
    height: 500px;
    border-radius: 1.5rem;
    padding-top: 15px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.yo:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgb(96, 212, 224);
}

.cajita{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 39px;
    color: rgba(66, 178, 189, 0.609);   
}

#sobre-mi{
    background-color: rgba(49, 146, 146, 0.425);
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding-top: 15px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

#sobre-mi:hover{
    transform: translateY(-2px);
    box-shadow: 0 12px 25px rgb(255, 0, 0);
}

section h2 {
    text-align: center;
}

section h3 {
    color: rgb(93, 145, 191)
}

.python {
    background: rgba(51, 99, 148, 0.502);
    width: 300px;
    height: auto;
    border-radius: 18px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
   
}

div a{
    color: rgb(129, 189, 187);
    text-decoration: none;

}

.Proyectos {
    display: flex;

}

h2{
    text-align: center;
}

.HTML {
    background: rgba(51, 99, 148, 0.502);
    width: 300px;
    height: auto;
    border-radius: 18px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

.javascrip{
    background: rgba(51, 99, 148, 0.502);
    width: 300px;
    height: auto;
    border-radius: 18px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

.python:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 15px rgb(96, 212, 224);
}

.HTML:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 15px rgb(96, 224, 134);
}

.javascrip:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 15px rgb(241, 158, 4);
}

.Ronny {
    background: rgba(51, 99, 148, 0.502);
    width: 500px;
    height: 450px;
    border-radius: 18px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    align-items: center;    
}

.Ronny:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 15px rgb(0, 0, 0);
}

.Bianca{
    background: rgba(51, 99, 148, 0.502);
    width: 500px;
    height: 450px;
    border-radius: 18px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

.Bianca:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 15px rgba(255, 255, 255, 0.651);
}

.Trixy{
    background: rgba(51, 99, 148, 0.502);
    width: 500px;
    height: auto;
    border-radius: 18px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

.Trixy:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 15px rgba(124, 71, 177, 0.836);
}

#volver {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    width: auto;
}

#volver a {
    display: block;
    background-color: #37b3c9b2;
    color: white;
    padding: 12px 18px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 1.5s;
}